@charset"utf-8";
body{font-famliy:Verdana,sans-serif;font;font-size;0.8em;}
header,nav,esxtion,article,footer
{border:1px solid gray;margin;5px;padding:8px;}
section#displayArea{height:210px;}
nav ul{margin:0;padding:0;}
nav ul li{display:lnline;margin;5px;}
a{text_deccoration:none;}
#id_form{width:100px;height:14px;color:red;}
